@import 'reset.css';
@import 'layout.css';

.front__block {
    background-image: url('../images/front_image.png');
    width: 100%;
    height: 582px;
    padding-top: 39px;
    padding-left: 73px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.front__block-inner {
    width: 561px;
    height: 506px;
    background: rgba(72, 84, 91, 0.85);
    border-radius: 5px;
    padding: 79px 28px 65px 56px;
}

.inner__title {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 75px;
    color: #FFFFFF;
}

.inner__text {
    margin-top: 43px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.inner__button {
    margin-top: 31px;
    width: 145px;
    height: 38px;
    background: rgba(202, 212, 222, 0.85);
    border-radius: 50px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    border: none;
}

.about-us__block {
    height: 766px;
    width: 100%;
    background: rgba(222, 235, 247, 0.85);
    display: flex;
    padding-top: 205px;
}

.about__image {
    background-image: url('../images/about_image.png');
    width: 634px;
    height: 602px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.about__info {
    margin-top: 65px;
    margin-left: 102px;
    max-width: 473px;
}

.about__title,
.work__title {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 40px;
}

.about__text,
.work__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.76);
}

.about__text b,
.work__text b {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.about__button,
.work__button {
    width: 118px;
    height: 38px;
    margin-top: 27px;
    background: rgba(202, 212, 222, 0.85);
    border-radius: 50px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    border: none;
}

.work__button {
    margin-top: 29px;
}

.how-we-work__block {
    height: 637px;
    padding-top: 75px;
    display: flex;
    justify-content: flex-end;
}

.work__info {
    margin-top: 78px;
    margin-right: 106px;
    max-width: 479px;
}

.work__image {
    background-image: url('../images/work_image.png');
    width: 629px;
    height: 487px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.description__section {
    height: 477px;
    position: relative;
}

.description__title {
    padding-top: 86px;
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}

.description__text {
    margin: 30px auto;
    width: 777px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: rgba(0, 0, 0, 0.76);
}

.description__three-blocks {
    margin: 0px auto;
    width: 978px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
}

.description__mini-block {
    width: 303px;
    height: 351px;
    background: #FFFFFF;
    border: 1px solid rgba(202, 212, 222, 0.85);
    border-radius: 5px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description__img {
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.description__mini-rigth-block {
    text-align: center;
}

.mini-block-title {
    margin-top: 26px;
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;
}

.mini-block-parah {
    margin-top: 9px;
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
}

.mini-block-text {
    padding: 34px 29px 0px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
}

.our-projects__block {
    background: rgba(202, 212, 222, 0.85);
    border-radius: 3px;
}

.our-projects__four-blocks {
    margin: 52px auto;
    margin-bottom: 0px;
    display: flex;
    width: 979px;
    justify-content: space-between;
    padding-bottom: 47px;
}

.our-projects__block h3 {
    padding-top: 50px;
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;
    text-align: center;
}

.our-projects__mini-block {
    height: 230px;
    width: 230px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.our-projects__circle {
    width: 150px;
    height: 150px;
    background: rgba(222, 235, 247, 0.85);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-projects__circle img {
    width: 80px;
    height: 80px;
}

.our-projects__parah {
    margin-top: 30px;
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

.childrens__image-block {
    width: 100%;
    background-image: url('../images/childrens.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 426px;
}

.hide__break {
    display: none;

}

@media screen and (max-width: 1280px) {

    .description__section {
        height: 550px;
    }

    .about-us__block {
        height: 1240px;
        padding-top: 105px;
        flex-direction: column;
        align-items: center;
    }

    .about__info {
        margin-left: 0px;
        text-align: center;
    }

    .about__image {
        width: 604px;
        height: 562px;
    }

    .how-we-work__block {
        height: 1050px;
        padding-top: 70px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .work__info {
        margin-top: 0px;
        margin-right: 0px;
        max-width: 479px;
        text-align: center;
    }

    .work__image {
        margin-top: 65px;
        width: 599px;
        height: 450px;
    }


}

@media screen and (max-width: 1080px) {
    .description__section {
        height: 377px;
    }

    .description__title {
        padding-top: 30px;
        font-size: 25px;
        line-height: 38px;
    }

    .description__text {
        margin: 20px auto;
        width: 630px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: rgba(0, 0, 0, 0.76);
    }

    .description__three-blocks {
        margin: 0px auto;
        width: 630px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        right: 0;
    }

    .description__mini-block {
        width: 200px;
        height: 250px;
        background: #FFFFFF;
        border: 1px solid rgba(202, 212, 222, 0.85);
        border-radius: 5px;
        padding-top: 20px;
    }

    .description__img {
        width: 40px;
        height: 40px;
    }

    .mini-block-title {
        margin-top: 16px;
        font-size: 25px;
        line-height: 34px;
    }

    .mini-block-parah {
        margin-top: 6px;
        font-size: 15px;
        line-height: 15px;
    }

    .mini-block-text {
        padding: 24px 19px 0px;
        font-size: 13px;
        line-height: 20px;
    }

    .our-projects__block {
        height: 294px;
    }

    .our-projects__block h3 {
        padding-top: 30px;
        font-size: 20px;
        line-height: 25px;

    }

    .our-projects__four-blocks {
        margin: 30px auto;
        margin-bottom: 0px;
        width: 100%;
        flex-wrap: wrap;
        padding-bottom: 0px;
        justify-content: space-evenly;
        align-items: center;
    }

    .our-projects__mini-block {
        height: 152px;
        width: 152px;
        display: flex;
        margin-bottom: 19px;
    }

    .our-projects__circle {
        width: 100px;
        height: 100px;
    }

    .our-projects__circle img {
        width: 50px;
        height: 50px;
    }

    .our-projects__parah {
        width: 145px;
        margin-top: 14px;
        font-size: 15px;
        line-height: 19px;
    }

}

button {
    cursor: pointer;
}

@media screen and (max-width: 930px) {
    .description__section {
        height: 395px;
    }
}


@media screen and (max-width: 790px) {

    .front__block {
        height: 414px;
        padding-top: 194px;
        padding-left: 40px;
    }

    .front__block-inner {
        width: 355px;
        height: 342px;
        padding: 18px 25px 40px 32px;
        box-sizing: border-box;
    }

    .inner__title {
        font-size: 35px;
        line-height: 44px;
    }

    .inner__text {
        margin-top: 25px;
        font-size: 14px;
        line-height: 20px;
    }

    .inner__button {
        margin-left: -10px;
        margin-top: 24px;
        width: 109px;
        height: 30px;
        font-size: 11px;
        line-height: 13px;

    }

    .description__section {
        height: 487px;
    }

    .description__title {
        padding-top: 130px;
    }

    .childrens__image-block {
        height: 310px;
        background-image: url('../images/childrens-mobile.png');
        width: 100%;
    }
}

@media screen and (max-width:660px) {

    .about-us__block {
        height: 1070px;
    }

    .about__image {
        width: 504px;
        height: 485px;
    }

    .about__title,
    .work__title {

        font-size: 32px;
        margin-bottom: 35px;
    }

    .about__text,
    .work__text {
        font-size: 14px;
        line-height: 22px;
    }

    .how-we-work__block {
        height: 900px;
        padding-top: 50px;
    }

    .work__image {
        margin-top: 65px;
        width: 529px;
        height: 400px;
    }

    .description__section {
        height: 852px;
        padding-top: 142px;
    }

    .description__title {
        padding-top: 0px;
        margin: 0px auto;
        font-size: 20px;
        line-height: 25px;
        width: 351px;
    }

    .description__text {
        margin: 20px auto;
        width: 355px;
        font-size: 16px;
        line-height: 20px;
    }

    .description__three-blocks {
        margin: 0px auto;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
    }

    .description__mini-block {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
        width: 355px;
        height: 168px;
        align-items: flex-start;
        padding: 16px 6px;
    }

    .description__img {
        width: 100px;
        height: 100px;
    }

    .mini-block-title {
        margin-top: 0px;
        font-size: 27px;
        line-height: 34px;
    }

    .mini-block-parah {
        margin-top: 4px;
        font-size: 18px;
        line-height: 23px;
    }

    .mini-block-text {
        padding: 0px;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        margin-top: 14px;
    }

    .description__mini-rigth-block {
        width: 234px;
        text-align: left;
        margin-left: 18px;
    }

    .our-projects__four-blocks {
        width: 375px;
    }

    .our-projects__block {
        height: 454px;
    }

}

@media screen and (max-width: 550px) {
    .about-us__block {
        height: 1060px;
    }

    .about__image {
        width: 435px;
    }

    .how-we-work__block {
        height: 800px;
    }

    .work__image {
        margin-top: 65px;
        width: 375px;
        height: 320px;
    }
}

@media screen and (max-width: 500px) {
    .front__block {
        background-image: url('../images/children_mobile.png');
        height: 414px;
        padding-top: 294px;
        padding-left: 10px;
    }

    .front__block-inner {
        width: 355px;
        height: 342px;
        padding: 18px 25px 40px 32px;
        box-sizing: border-box;
    }

    .description__section {
        height: 925px;
        padding-top: 257px;
    }

    .description__title {
        padding-top: 0px;
        margin: 0px auto;
        font-size: 20px;
        line-height: 25px;
        width: 351px;
    }

    .description__three-blocks {
        margin: 0px auto;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
    }

    .about-us__block {
        height: 860px;
        flex-direction: column;
        padding-top: 94px;
        align-items: flex-start;
    }

    .about__info {
        margin-top: 35px;
        margin-left: 10px;
        width: 355px;
        text-align: left;
    }

    .hide__break {
        display: block;
    }

    .about__title,
    .work__title {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 20px;
    }

    .about__text,
    .work__text {
        font-size: 16px;
        line-height: 20px;
    }

    .about__button,
    .work__button {
        margin-top: 20px;
        height: 30px;
        width: 109px;
        font-size: 11px;
        line-height: 13px;
    }

    .about__image {
        width: 365px;
        height: 320px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .how-we-work__block {
        height: 735px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .work__image {
        margin-top: 0px;
        order: 1;
        width: 365px;
        height: 320px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .work__info {
        text-align: left;
        margin-top: 35px;
        margin-right: 10px;
        order: 2;
        width: 355px;
    }

    .our-projects__block {
        height: 595px;
    }

    .our-projects__block h3 {
        font-size: 27px;
        line-height: 34px;
        color: #2664A6;
        padding-top: 35px;
    }

    .our-projects__four-blocks {
        flex-wrap: nowrap;
        flex-direction: column;
        margin-top: 27px;
    }

    .our-projects__mini-block {
        flex-direction: row;
        width: 318px;
        height: 108px;
        margin: 0px;
        margin-top: 8px;
    }

    .our-projects__flex {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(222, 235, 247, 0.85);
        height: 100px;
        width: 200px;
        margin-left: 18px;
    }

    .our-projects__parah {
        margin-top: 0px;
        text-align: left;
        font-size: 20px;
        line-height: 25px;
        width: 100%;
    }


    .childrens__image-block {
        height: 259px;
        background-image: url('../images/childrens-mobile.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

}